GROQ_API_KEY=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
PINECONE_API_KEY=pcsk_A2Tv5_JXNevtp5qTy5JaHi24ekKgt9FDsuvQz49HTXfnDMom8fx4ZNQuMGfNcEWqHSxD2
SUPABASE_URL=https://ekfqddgvvabhjctznkiq.supabase.co
SUPABASE_SERVICE_KEY=paste_your_supabase_anon_key_here