fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.1
groq==0.9.0
httpx==0.27.2
sentence-transformers==2.7.0
torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu
pinecone-client>=3.0.0
requests==2.32.3
serpapi==0.1.5
python-dotenv==1.0.1
numpy<2.0.0
Pillow==10.3.0
supabase==2.11.0